@import './work-body';

.header-dashboard, .header-dashboard div{
    width: 100%;
    height: 12.5vh;
    background-color: $white;
    display: flex;
}

.header-dashboard h2{
    margin: 8vh 0 0 calc(12% + 120px);
    bottom: 0;
    font-family: bold;
    color: $blue;
    text-transform: capitalize;
    z-index: 4;
}

.dropdown-menu {
    p{
        margin: calc(8vh + 9px) 0 0 0;
        text-align: right;
        font-family: 'regular';
        position: absolute;
        right: 50px;
    }

    .icon-dropdown{
        margin: calc(8vh + 2px) 0 0 0;
        position: absolute;
        right: 30px;
        font-size: 25px;
        transition: ease 0.2s;
    }

    ul{
        text-align: right;
        position: absolute;
        right: 37px;
        margin: calc(11vh + 9px) 0 0 0;
        background-color: $white;
        padding: 0 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    li{
        list-style-type: none;
        margin: 10px 0;
        transition: ease 0.2s;
    }

    li:hover, .icon-dropdown:hover{
        cursor: pointer;
        transform: scale(0.9);
    }
}

.container-work-body{
    display: flex;
}

.navigation{
    height: 87.5vh;
    width: 12%;
    background-color: $white;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    position: fixed;
}

.tooltip-navigation {
    width: 100%;
    position: relative;
  }
  
  .tooltip-navigation .tooltiptextright {
    visibility: hidden;
    width: 120px;
    background-color: $black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 75px;
    font-family: 'light';
  }
  
  .tooltip-navigation .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip-navigation:hover .tooltiptextright {
    visibility: visible;
  }

.navigation li{
    width: 50px;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    list-style: none;
    transition: ease 0.2s;
}

.nav-icon{
    background-color: $border;
}

.active{
    background-color: $blue;
}

.navigation li:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.work-body{
    min-height: 87.5vh;
    width: 88%;
    background-image: linear-gradient(to bottom left, #FAFAFC, #F3F3F5);
    border-top-left-radius: 110px;
    margin-left: 12%;
}

@media only screen and (max-width: 800px){
    .header-dashboard, .header-dashboard div{
        width: 100%;
        height: 12.5vh;
        background-color: $white;
        display: flex;
    }
    
    .navigation{
        ul{
            margin: 0;
            padding: 0;
            margin-left: 20px;
        }
    }
      
      .tooltip-navigation .tooltiptextright {
        left: 65px;
      }
    
    .work-body{
        width: 88%;
        margin-left: 12%;
    }
}

  @media only screen and (max-width: 650px){
    .header-dashboard h2 {
        margin: 8vh 0 0 100px;
    }
    
    .container-dashboard-work-body {
        width: 95%;
        margin: 75px auto 0 auto;
    }
    
    .navigation{
        display: none;
    }
    
    .work-body{
        width: 100%;
        margin-left: 0;
    }
}