.container-dashboard-work-body{
    width: calc(90% - 120px);
    margin: 75px 0 0 120px;
    display: flex;

    .container-dashboard-left{
        width: 70%;
        height: calc(160px + 300px + 50px);
        background-color: $white;
        border-radius: 25px;
        margin-right: 5%;
    }

    .container-dashboard-right{
        width: 25%;
    }

    .container-clock{
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'bold';
        font-size: $h2;
        color: $blue;
        width: 100%;
        background-color: $white;
        border-radius: 25px;
    }

    .container-todo{
        height: 300px; //MOET NOG AANPASSEN - CALC(100% - clock)
        margin-top: 50px;
        width: 100%;
        background-color: $white;
        border-radius: 25px;
        position: relative;

        .icon-add-todo{
            font-size: 25px;
            color: $black;
            position: absolute;
            top: 15px;
            right: 15px;
            transition: ease 0.2s;
        }

        .icon-add-todo:hover{
            cursor: pointer;
            transform: scale(0.9);
        }

        .icon-trash-todo{
            font-size: 25px;
            color: $black;
            position: absolute;
            top: 15px;
            right: 46px;
            transition: ease 0.2s;
        }

        .icon-trash-todo:hover{
            cursor: pointer;
            transform: scale(0.9);
        }

        form{
            position: absolute;
            top: 0;   
            bottom: 0;   
            left: 0;   
            right: 0;   
            background-color: $white;
            border-radius: 25px;
            display: none;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .icon-close-todo{
                font-size: 25px;
                color: $black;
                position: absolute;
                top: 15px;
                right: 15px;
                transition: ease 0.2s;
            }

            .icon-close-todo:hover{
                cursor: pointer;
                transform: scale(0.9);
            }

            div{
                width: 100%;

                input{
                    width: 90%;
                    padding: 14px;
                    margin: 10px 5%;
                    border: solid 1px $border;
                    border-radius: 5px;
                    font-family: 'light';
                    box-sizing: border-box;
                }
    
                button{
                    border: none;
                    background-color: $green;
                    color: white;
                    border-radius: 5px;
                    padding: 14px 44px;
                    transition: ease 0.2s;
                    font-family: 'regular';
                    justify-content: center;
                }
                
                button:hover{
                    transform: scale(0.9);
                    cursor: pointer;
                }
            }
        }
        

        h2{
            padding: 20px 0 0px 0;
            margin: 0 0 -8px calc(5% + 13px);
            font-family: 'bold';
            color: $blue;
        }

        :nth-child(2){
            height: 80%;
            width: 90%;
            display: flex;
            margin: 10px auto 0 auto;
            align-items: center;
            overflow: auto;
            flex-wrap: wrap;
            text-align: center;

            .task{
                width: 100%;
                height: auto;
                padding: 15px 0;
                background-image: linear-gradient(to bottom left, #FAFAFC, #F3F3F5);
                margin: 10px 0;
                border-radius: 15px;
                text-align: center;
                font-family: 'light';
                color: $black;
                display: block;
            }

            .task:first-child{
                margin: 0 0 10px 0;
            }

            .task-done{
                opacity: 0.5;
                text-decoration: line-through 
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .container-dashboard-work-body{
        flex-wrap: wrap;
    
        .container-dashboard-left{
            width: 100%;
            margin-right: 0;
        }
    
        .container-dashboard-right{
            margin: 5% 0;
            width: 100%;
        }
    
        .container-clock{
            width: 100%;
        }
    
        .container-todo{
            margin-top: 5%;
        }
    }  
}

  @media only screen and (max-width: 650px) and (orientation: portrait){
    
}