.container-addNewArtist-child{
    width: calc(90% - 120px);
    margin: 75px 0 0 120px;
    position: relative;

    ul{
        display: flex;
        margin: 0;
        padding: 0 0 0 0;
        border-bottom: solid 0.5px $border2;
    }

    .ul-add-artist{
        padding-top: 25px;
    }
    
    li{
        color: $black;
        list-style: none;
        font-family: 'regular';
        padding-bottom: 5px;
        margin-right: 80px;
    }
    
    li:hover, .artist-filter-active{
        color: $blue;
        border-bottom: solid 2px $blue;
        cursor: pointer;
    }

    // TABLE
    table{
        width: 100%;
        margin-top: 20px;
        border-spacing: 0 20px;
        // border-collapse: collapse;
        color: $black;
    }

    table th{
        color: $black;
        font-family: 'light';
        text-align: left;
        padding-left: 75px;
    }

    table td{
        font-family: 'light';
        text-align: left;
        padding: 12px 12px 12px 75px;    
    }
}

.container-search{
    position: absolute;
    right: 0;
    top: -20px;

    input{
        padding: 10px;
        margin: 0 5px 0 0;
        border-radius: 30px;
        border: none;
        width: 220px;
        background-color: $white;
        color: $black;
        font-family: 'light';
    }
    
    input::placeholder{
        color: $placeholder;
        font-family: 'light';
    }
}

.filter-sort:hover{
    cursor: pointer;
}

.content-add-artist{
    background-color: $white;
    border: solid 0.5px $border2;
}

.invite-artist{
    text-decoration: underline;
    transition: ease 0.2s;
}

.invite-artist:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.table-scrollable{
    overflow-x:auto;
}

@media only screen and (max-width: 900px) and(orientation:landscape){ 
    .container-addNewArtist-child{
        li{
            margin-right: 30px;
        }
    }
}

@media only screen and (max-width: 800px){ 
    .container-addNewArtist-child{
        width: 95%;
        margin: 75px auto 0 auto;

        .container-search{
            display: none;
        }

        li{
            margin-right: 30px;
        }
    }
}