.container-edit-artist-child{
    width: calc(90% - 120px);
    margin: 75px 0 0 120px;
    display: flex;

    form{
        width: 100%;
    }

    button{
        border: none;
        background-color: $green;
        color: white;
        text-align: center;
        border-radius: 5px;
        padding: 14px 44px;
        transition: ease 0.2s;
        font-family: 'regular';
    }
    
    button:hover{
        transform: scale(0.9);
        cursor: pointer;
    }
}

.form-edit-artist-child{
    display: flex;
    position: relative;
}

.container-edit-artist-left{
    width: 65%;

    :nth-child(1), :nth-child(2){
        width: 100%;
        box-sizing: border-box;
    }

    :nth-child(2){
        min-height: 38.5vh;
    }

    :nth-child(3){
        width: 50%;
        box-sizing: border-box;
    }

    input, textarea, select{
        padding: 14px;
        margin: 10px 0;
        border: solid 1px $border;
        border-radius: 5px;
        font-family: 'light';
    }

    #color{
        padding: 0;
        margin: 0 0 0 5%;
        width: 45%;
        box-sizing: border-box;
        height: 50px;
        position: relative;
        top: 17px;
        border: none;
    }
}

.container-edit-artist-right{
    width: 30%;
    min-height: 38.5vh;
    background-color: $white;
    position: absolute;
    right: 0;
    top: 80px;
    box-sizing: border-box;
    border: solid 1px $border;
    border-radius: 5px;
    display: inline-block;

    input{
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        z-index: 2;
    }

    p{
        margin: 0;
        font-family: 'light';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@media only screen and (max-width: 800px){ 
    .container-edit-artist-child{
        width: calc(90% - 120px);
        margin: 75px 0 0 120px;
        display: flex;
    
        button{
            width: 100%;
            margin: 10px 0;
        }
    }
    
    .form-edit-artist-child{
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }
    
    .container-edit-artist-left{
        width: 100%;

    
        :nth-child(3){
            width: 100%;
        }
    
        #color{
            padding: 0;
            width: 100%;
            margin: -7px 0 27px 0;
        }
    }
    
    .container-edit-artist-right{
        width: 100%;
        margin: 10px 0;
        position: static;

        input{
            position: static;
            height: 100%;
            width: 100%;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 2;
        }

        p{
            position: static;
            top: 0%;
            left: 0%;
            transform: translate(0%, 0%);
            margin: -20vh 0 0 0;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 650px) and (orientation: portrait){
    .container-edit-artist-child{
        width: 95%;
        margin: 75px auto 0 auto;
    }
}