.container-showOwnArtist-child{
    width: calc(90% - 120px);
    margin: 75px 0 0 120px;
    display: flex;
    flex-wrap: wrap;
}

.container-artist {
    width: 25%;
    min-width: 250px;
    margin: 0 4% 220px 4%;
    position: relative;
    transition: ease 0.2s;

    *{
        pointer-events: none;
    }
}

.container-artist:hover {
    cursor: pointer;
    transform: scale(0.9);
}


.container-artist-image{
    height: 250px;
    background-image: url('/images/placeholder-background.png');
    background-size: 100% 100%;
    background-position: bottom;
    width: 100%;
    border-radius: 25px;

    img{
        border-radius: 25px;
        height: 100%; 
        width: 100%; 
        object-fit: cover;
    }
}

.container-artist-text{
    background-color: $white;
    border-radius: 25px;
    width: 100%;
}

.container-artist-text-child{
    margin: 20px;
}

.container-artist-text{
    min-height: 250px;
    position: absolute;
    top: 110px;
}

.container-artist-text h1{
    color: $black;
    font-family: 'regular';
}

.container-artist-text .artist-bioSnippet{
    color: $placeholder;
    font-family: 'light';
}

.container-artist-detail{
    width: 75%;
    margin: 0 0 0 6%;
    background-color: $white;
    color: $black;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
   
    h1{
        font-family: 'regular';
    }

    p{
        font-family: 'light';
        text-align: justify;
    }

    svg{
        font-size: 30px;
        position: absolute;
        top: -10px;
        right: -10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFFFFF;
        transition: ease 0.2s;
    }

    svg:hover{
        cursor: pointer;
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 800px){
    
    .container-showOwnArtist-child{
        width: calc(90% - 120px);
        margin: 75px 0 0 120px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-artist{
        width: 100%;
        margin: 0 1% 180px 1%;
        position: relative;
    }

    .container-artist-detail{
        display: none;
    }
}

  @media only screen and (max-width: 650px){
    .container-showOwnArtist-child{
        width: 95%;
        margin: 75px auto 0 auto;
    }
}

// IMAGE NIE UITREKKEN