@font-face {
    font-family: 'extra-light';
    src: url('../../fonts/CRC25.otf') format('opentype');
}


@font-face {
    font-family: 'light';
    src: url('../../fonts/CRC35.otf') format('opentype');
}

@font-face {
    font-family: 'regular';
    src: url('../../fonts/CRC55.otf') format('opentype');
}

@font-face {
    font-family: 'bold';
    src: url('../../fonts/CRC65.otf') format('opentype');
}

@font-face {
    font-family: 'extra-bold';
    src: url('../../fonts/Circe-ExtraBold.otf') format('opentype');
}