.container-mobile-navigation{
    display: none;

    .icon-mobile-nav{
        position: absolute;
        font-size: 50px;
        z-index: 6;
        top: 10px;
        right: 10px;
        color: $black;
        transition: ease 0.2s;
    }

    .icon-mobile-nav:hover{
        cursor: pointer;
        transform: scale(0.9);
    }
    
    ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: $white;
        margin: 0;
        padding: 0;
        text-align: center;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 5;

        li{
            text-transform: uppercase;
            color: $black;
            width: 100%;
            list-style-type: none;
            margin: 20px 0;
            transition: ease 0.2s;
            text-decoration: none;
            color: $black;
            font-family: 'extra-bold';
            font-size: 20px;
            
            a{
                text-decoration: none;
                color: $black;
                font-family: 'extra-bold';
                font-size: 20px;
            }
        }

        li:hover{
            cursor: pointer;
            transform: scale(0.9);
        }
    }
}

@media only screen and (max-width: 900px) and (orientation:landscape){
    .container-mobile-navigation{
        display: block;
    }
}

@media only screen and (max-width: 650px){
    .container-mobile-navigation{
        display: block;
    }
}